$textcolor: #283645;
$pink: #D22856;
$white: #ffffff;
$black: #000000;
$grayfon: #c2c2c2;
$burgercolor: #283645;
$photofon: #d6d6d6;
$graycontest: #d1d1d1;
$green: #2AAB6D;
$greenhover: #1C9B5E;
$graymobile: #dbdbdb;

// Breakpoint

$desktop-bp-1200: 1200px;
$desktop-bp-992: 992px;
$tablets-bp-768: 768px;
$mobile-bp-660: 660px;
$mobile-bp-576: 576px;
$mobile-bp-480: 480px;
$mobile-bp-320: 320px;