.fioapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fio {
  width: 50%;
}

.fio__item {
  border: 1px solid red;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}